nav {
  border-bottom: 2px solid #b2b2b2;
  text-align: center;
  position: sticky;
  width: 100%;
  background: white;
  z-index: 1;
  max-width: 900px;
  text-align: left;
  margin: 0 auto;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding-top: 16px;
      padding-bottom: 16px;

      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        padding: 16px 32px;
      }

      a:hover {
        background: gray;
        color: white;
      }
    }
  }
}
